<!DOCTYPE css>

<css>
<style>








::-webkit-scrollbar {
background-color: #000000;
border: 1px solid #d5d5d5;
height:1px;
width:1px;
}

* {cursor: url(http://cur.cursors-4u.net/others/oth-6/oth589.cur), auto !important;} 



</style>
</css>
