<!DOCTYPE css>

<css>
<style>

table, tr, td { background-color: ffffff; border:solid; border-width:0px;}
body {background-color:#ffffff;}
table table table table {border:0px;}
table table table {border-style:solid; border-width: 0px; padding: 0px; background-color: F7F7F7;} table, tr, td, li, p, div, .text {font-family: helvetica; color:#322a2c; font-size:10px;}



p {text-align: justify;}

B {font: bold 9px consolas; text-transform: uppercase;letter-spacing: 2px; color: 474747; line-height:9px;}

I {font: italic 10px georgia; text-transform:none; color: 666666; line-height:8px;}

u { font-family:small fonts; font-size: 8.5px; letter-spacing: 2px; text-decoration:none; border-bottom:0px dotted; color:bbc5d6; background-color: transparent; text-transform:none; line-height:9px!important;}

small {font: 7px helvetica; text-transform:uppercase; color: 656565; line-height:7px; letter-spacing:1px;}

h1{
  font-family: arial;
  font-size: 23px;
  text-align: center;
  color: #32282b;
  font-weight: ;
  line-height: 3px;
text-transform: uppercase;
font-style:italic;
font-weight:bold;
letter-spacing:-2px;
}


h2{
  font-family: arial;
  font-size: 18px;
  text-align: left;
  color: #32282b;
  font-weight: ;
  line-height: 3px;
text-transform: uppercase;
font-style:italic;
font-weight:bold;
letter-spacing:2px;
}




.box {position: fixed; width: 220px; height: 100px; margin-right: 0px; margin-top: 800px; left: 350px; top: 0%; padding: 20px; background-color: ffffff; overflow: auto; text-align: justify;}

.bio {position: fixed; width: 320px; height: 87px; margin-right: 0px; margin-top: 800px; left: 0px; top: 0%; padding: 20px; background-color:  ffffff; overflow: auto; text-align: justify;}



.notes {position: fixed; width: 220px; height: 90px; margin-right: 0px; margin-top: 880px; left: 350px; top: 0%; padding: 20px; background-color:  ffffff; overflow: auto; text-align: justify;}

.nav {position: fixed; width: 320px; height: 10px; margin-right: 0px; margin-top: 840px; left: 280px; top: 0%; padding: 10px; background-color: #fffff; overflow: hidden; text-align: right;}



a:active, a:visited, a:link {font: normal 10px lucida console; font-weight: normal; line-height: 100%; text-decoration: none; text-transform: uppercase; color: b62a31; -webkit-transition: all 0.5s ease-out; -moz-transition: all 0.5s ease-out;}





::-webkit-scrollbar {
background-color: #000000;
border: 1px solid #d5d5d5;
height:1px;
width:1px;
}

* {cursor: url(http://cur.cursors-4u.net/others/oth-6/oth589.cur), auto !important;}



</style>
</css>
